<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg navbar-expand-md">
  <a class="navbar-brand" href="/"><img class="logo" src="../../assets/images/nav/Merlin.gif" alt="App Logo"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="builder">Hero Builder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="archetypes">Archetypes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="characteristics">Characteristics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="alignment">Alignments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="references">References</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="stylesheet">Stylesheet</a>
    </li>
  </ul>
</div>
</nav>
<div class = container>
<router-outlet></router-outlet>
</div>

