/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Oswald|Permanent+Marker|Roboto+Condensed|Rock+Salt|Amatic+SC|Crimson+Text');
* {
    font-family: 'Crimson Text';
}
.btn-primary {
    background-color: #41848F !important;
    border-color: #F6F5F0 !important;
}
.btn {
    color: #97C0B7 !important;
}

/*
font-family: 'Permanent Marker', cursive;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Amatic SC', sans-serif;
font-family: 'Crimson Text', sans-serif;
*/